
.header-right .menu[b-f9zk06m3q1] {
    border: none;
}

.header-right .dropdown-menu a[b-f9zk06m3q1] {
    text-align: left;
}

    .header-right .nav-item .nav-link:hover[b-f9zk06m3q1] {
        color: black;
    }
